td {
	border: 2px solid black;
}

.tables {
    display: flex;
    justify-content: flex-start | space-between;
}

table {
	width:12em;
    padding-right: 2em;
}

@media (max-width: 602px){
	body{
		text-align: center;
	}

	.tables {
		text-align: center;
		flex-direction: column;
		width:100%; 
	}
	table {
		text-align: center;
		flex-direction: column;
		width: 100%; 
    	margin-left: 5%; 
    	margin-right: 5%;
	}
}